html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  position: absolute;
  height: 1px;
  background: transparent;
  box-shadow: 1487px 551px #fff, 1597px 300px #fff, 1142px 517px #fff,
    1460px 1724px #fff, 1680px 1254px #fff, 1560px 975px #fff,
    1779px 1572px #fff, 1498px 700px #fff, 136px 1852px #fff, 2px 1713px #fff,
    1718px 450px #fff, 768px 1993px #fff, 877px 164px #fff, 1098px 1375px #fff,
    827px 724px #fff, 1941px 76px #fff, 620px 1600px #fff, 1907px 1255px #fff,
    1141px 956px #fff, 1945px 1581px #fff, 1610px 1350px #fff,
    1620px 1299px #fff, 1847px 1129px #fff, 1848px 351px #fff, 31px 58px #fff,
    891px 1761px #fff, 1108px 1204px #fff, 1770px 1918px #fff, 21px 935px #fff,
    495px 900px #fff, 299px 1907px #fff, 1136px 454px #fff, 1888px 33px #fff,
    687px 490px #fff, 1080px 802px #fff, 1133px 990px #fff, 357px 588px #fff,
    1358px 1821px #fff, 1718px 1598px #fff, 552px 1086px #fff, 1120px 995px #fff,
    287px 907px #fff, 1757px 522px #fff, 1150px 1714px #fff, 1247px 1256px #fff,
    1544px 666px #fff, 913px 1348px #fff, 733px 1973px #fff, 1005px 1263px #fff,
    1180px 267px #fff, 1412px 334px #fff, 1580px 499px #fff, 1274px 1668px #fff,
    1251px 1684px #fff, 488px 1640px #fff, 1107px 403px #fff, 376px 311px #fff,
    202px 1335px #fff, 727px 281px #fff, 1376px 70px #fff, 1542px 1823px #fff,
    847px 76px #fff, 1687px 1273px #fff, 436px 1961px #fff, 751px 1684px #fff,
    1607px 1100px #fff, 1734px 1480px #fff, 968px 1021px #fff, 79px 75px #fff,
    1428px 926px #fff, 1043px 1519px #fff, 1773px 732px #fff, 1440px 760px #fff,
    285px 1311px #fff, 1382px 769px #fff, 1005px 1924px #fff, 883px 20px #fff,
    910px 1226px #fff, 1664px 1798px #fff, 1347px 1810px #fff,
    1527px 1940px #fff, 1999px 126px #fff, 246px 1374px #fff, 1285px 1798px #fff,
    912px 1828px #fff, 635px 790px #fff, 744px 1141px #fff, 1709px 1186px #fff,
    992px 948px #fff, 1900px 1672px #fff, 188px 1125px #fff, 1821px 15px #fff,
    1983px 916px #fff, 280px 305px #fff, 329px 887px #fff, 1366px 872px #fff,
    425px 1560px #fff, 561px 1339px #fff, 485px 201px #fff, 1884px 910px #fff,
    598px 1993px #fff, 1235px 1940px #fff, 634px 372px #fff, 1881px 1185px #fff,
    731px 246px #fff, 106px 753px #fff, 364px 916px #fff, 963px 1479px #fff,
    1193px 870px #fff, 1705px 797px #fff, 1403px 532px #fff, 1724px 708px #fff,
    1595px 1586px #fff, 668px 1447px #fff, 1996px 823px #fff, 1123px 1982px #fff,
    1497px 315px #fff, 403px 950px #fff, 323px 112px #fff, 838px 1354px #fff,
    1001px 286px #fff, 1768px 1621px #fff, 515px 69px #fff, 157px 1726px #fff,
    112px 1302px #fff, 1301px 1205px #fff, 1309px 1836px #fff, 160px 1332px #fff,
    507px 1137px #fff, 864px 1081px #fff, 728px 211px #fff, 1317px 390px #fff,
    816px 924px #fff, 1772px 598px #fff, 204px 1647px #fff, 1500px 605px #fff,
    1210px 584px #fff, 1253px 183px #fff, 700px 912px #fff, 465px 1505px #fff,
    1357px 1446px #fff, 1753px 1200px #fff, 1343px 1889px #fff, 565px 936px #fff,
    202px 1876px #fff, 1231px 315px #fff, 1090px 1718px #fff, 1498px 244px #fff,
    1819px 91px #fff, 501px 1515px #fff, 1344px 1110px #fff, 1177px 534px #fff,
    745px 994px #fff, 562px 1905px #fff, 1916px 245px #fff, 980px 1367px #fff,
    1079px 1236px #fff, 1563px 1041px #fff, 737px 1100px #fff, 1359px 42px #fff,
    1404px 467px #fff, 1284px 45px #fff, 539px 586px #fff, 1016px 802px #fff,
    1402px 414px #fff, 381px 1387px #fff, 1071px 714px #fff, 572px 1646px #fff,
    329px 1119px #fff, 303px 1710px #fff, 659px 706px #fff, 478px 1034px #fff,
    1987px 560px #fff, 762px 158px #fff, 1589px 1173px #fff, 78px 1235px #fff,
    1595px 396px #fff, 1675px 1035px #fff, 284px 706px #fff, 4px 636px #fff,
    956px 1655px #fff, 594px 1601px #fff, 1000px 1339px #fff, 1113px 352px #fff,
    1784px 1640px #fff, 156px 980px #fff, 1509px 936px #fff, 129px 912px #fff,
    749px 1791px #fff, 615px 127px #fff, 838px 855px #fff, 652px 1831px #fff,
    52px 473px #fff, 1678px 1003px #fff, 1210px 153px #fff, 1632px 324px #fff,
    1846px 1497px #fff, 489px 1801px #fff, 1813px 1748px #fff, 630px 771px #fff,
    1012px 915px #fff, 596px 514px #fff, 1719px 222px #fff, 91px 1633px #fff,
    1980px 1145px #fff, 1372px 911px #fff, 1037px 928px #fff, 1669px 33px #fff,
    330px 616px #fff, 1184px 74px #fff, 44px 354px #fff, 1088px 882px #fff,
    4px 642px #fff, 1418px 448px #fff, 1239px 1112px #fff, 604px 428px #fff,
    425px 1078px #fff, 223px 1859px #fff, 1743px 976px #fff, 1641px 1148px #fff,
    30px 767px #fff, 1640px 126px #fff, 200px 1631px #fff, 10px 228px #fff,
    1944px 1127px #fff, 1230px 1640px #fff, 350px 545px #fff, 1631px 1380px #fff,
    1527px 956px #fff, 987px 632px #fff, 1794px 689px #fff, 57px 2000px #fff,
    899px 1384px #fff, 1971px 1332px #fff, 1960px 557px #fff, 117px 227px #fff,
    1411px 992px #fff, 105px 165px #fff, 1458px 269px #fff, 118px 1068px #fff,
    530px 586px #fff, 1373px 848px #fff, 1569px 1118px #fff, 1009px 401px #fff,
    1829px 1312px #fff, 319px 978px #fff, 857px 1473px #fff, 1374px 1423px #fff,
    1655px 1900px #fff, 1659px 1777px #fff, 618px 1400px #fff,
    1021px 1609px #fff, 1435px 1881px #fff, 817px 361px #fff, 1613px 711px #fff,
    1251px 1063px #fff, 117px 884px #fff, 310px 1046px #fff, 517px 1045px #fff,
    1084px 847px #fff, 1230px 1388px #fff, 1545px 1102px #fff, 1261px 900px #fff,
    552px 522px #fff, 1715px 660px #fff, 41px 777px #fff, 1339px 799px #fff,
    223px 272px #fff, 1141px 1916px #fff, 296px 1583px #fff, 479px 1586px #fff,
    1708px 659px #fff, 574px 838px #fff, 793px 1247px #fff, 1778px 959px #fff,
    1988px 156px #fff, 1140px 1624px #fff, 567px 708px #fff, 1961px 765px #fff,
    738px 1026px #fff, 1921px 222px #fff, 359px 425px #fff, 1459px 696px #fff,
    1180px 880px #fff, 1983px 640px #fff, 246px 1377px #fff, 1458px 1111px #fff,
    503px 861px #fff, 406px 797px #fff, 1860px 1039px #fff, 736px 488px #fff,
    1732px 1701px #fff, 485px 187px #fff, 940px 62px #fff, 1483px 1980px #fff,
    548px 870px #fff, 627px 352px #fff, 576px 281px #fff, 119px 1762px #fff,
    1280px 1299px #fff, 815px 1639px #fff, 287px 1812px #fff, 1751px 1594px #fff,
    1068px 712px #fff, 1279px 1807px #fff, 53px 1523px #fff, 941px 1403px #fff,
    1674px 1813px #fff, 1012px 99px #fff, 1137px 716px #fff, 776px 1382px #fff,
    1650px 1496px #fff, 912px 1094px #fff, 1282px 754px #fff, 509px 1684px #fff,
    1432px 436px #fff, 853px 1433px #fff, 343px 1947px #fff, 1354px 1931px #fff,
    1551px 469px #fff, 262px 1788px #fff, 1224px 654px #fff, 1963px 472px #fff,
    1909px 1077px #fff, 884px 1435px #fff, 907px 51px #fff, 158px 442px #fff,
    1923px 1597px #fff, 1235px 191px #fff, 188px 1117px #fff, 913px 1949px #fff,
    578px 758px #fff, 26px 1046px #fff, 1321px 844px #fff, 501px 1992px #fff,
    1504px 764px #fff, 730px 1023px #fff, 961px 1974px #fff, 1274px 238px #fff,
    1347px 72px #fff, 404px 1308px #fff, 1006px 302px #fff, 683px 1074px #fff,
    840px 697px #fff, 937px 1975px #fff, 547px 1155px #fff, 143px 1367px #fff,
    26px 1965px #fff, 1151px 301px #fff, 1509px 708px #fff, 905px 1698px #fff,
    1979px 987px #fff, 1506px 226px #fff, 860px 961px #fff, 1405px 1112px #fff,
    1508px 1556px #fff, 217px 1409px #fff, 1608px 899px #fff, 1149px 1397px #fff,
    860px 1679px #fff, 1740px 1016px #fff, 418px 609px #fff, 1516px 187px #fff,
    1205px 1931px #fff, 194px 818px #fff, 1201px 124px #fff, 1634px 1940px #fff,
    401px 1911px #fff, 1589px 1046px #fff, 1994px 952px #fff, 1422px 1329px #fff,
    1482px 750px #fff, 191px 303px #fff, 1494px 1473px #fff, 309px 1070px #fff,
    1637px 1158px #fff, 705px 327px #fff, 1801px 1253px #fff, 1375px 202px #fff,
    1251px 258px #fff, 1605px 1297px #fff, 795px 1777px #fff, 794px 1422px #fff,
    1534px 1044px #fff, 1775px 705px #fff, 1067px 1765px #fff,
    1621px 1554px #fff, 1740px 965px #fff, 316px 1305px #fff, 264px 1075px #fff,
    1086px 389px #fff, 243px 1539px #fff, 72px 1422px #fff, 1805px 382px #fff,
    1698px 623px #fff, 316px 367px #fff, 1593px 186px #fff, 29px 1123px #fff,
    171px 1119px #fff, 996px 1483px #fff, 1667px 1134px #fff, 1311px 208px #fff,
    1806px 584px #fff, 1930px 1100px #fff, 1298px 1743px #fff,
    1418px 1714px #fff, 1478px 1699px #fff, 921px 768px #fff, 1080px 1104px #fff,
    1630px 572px #fff, 1527px 1052px #fff, 14px 478px #fff, 986px 22px #fff,
    288px 1321px #fff, 1267px 976px #fff, 1200px 1943px #fff, 1007px 1626px #fff,
    957px 316px #fff, 385px 1419px #fff, 1169px 506px #fff, 124px 1328px #fff,
    1684px 1049px #fff, 1535px 156px #fff, 1273px 1895px #fff, 910px 202px #fff,
    1529px 794px #fff, 619px 46px #fff, 1328px 1655px #fff, 843px 1558px #fff,
    1638px 914px #fff, 763px 406px #fff, 900px 602px #fff, 1017px 1711px #fff,
    1731px 1189px #fff, 903px 1709px #fff, 1772px 621px #fff, 1398px 1170px #fff,
    1637px 1706px #fff, 818px 279px #fff, 1917px 873px #fff, 1061px 194px #fff,
    207px 1983px #fff, 684px 15px #fff, 31px 149px #fff, 1573px 462px #fff,
    919px 269px #fff, 934px 1164px #fff, 654px 936px #fff, 691px 1506px #fff,
    1337px 833px #fff, 661px 863px #fff, 21px 1808px #fff, 1350px 318px #fff,
    1503px 333px #fff, 1635px 592px #fff, 222px 314px #fff, 176px 1908px #fff,
    1209px 1012px #fff, 1970px 748px #fff, 1422px 1848px #fff, 36px 787px #fff,
    449px 1143px #fff, 1512px 937px #fff, 707px 217px #fff, 1595px 1075px #fff,
    1147px 536px #fff, 370px 1831px #fff, 1604px 459px #fff, 1843px 1115px #fff,
    1069px 346px #fff, 300px 996px #fff, 617px 717px #fff, 1133px 1056px #fff,
    1309px 1143px #fff, 759px 1888px #fff, 1704px 1321px #fff, 582px 652px #fff,
    933px 325px #fff, 1237px 1686px #fff, 1918px 770px #fff, 572px 1034px #fff,
    1377px 1767px #fff, 1808px 42px #fff, 1221px 1176px #fff, 628px 1610px #fff,
    1993px 704px #fff, 431px 1781px #fff, 357px 1883px #fff, 1321px 1707px #fff,
    1979px 1098px #fff, 264px 688px #fff, 349px 1273px #fff, 1104px 881px #fff,
    1942px 440px #fff, 1128px 163px #fff, 376px 1535px #fff, 1377px 1783px #fff,
    1131px 534px #fff, 122px 1390px #fff, 1814px 1497px #fff, 1119px 1849px #fff,
    1315px 375px #fff, 1757px 1177px #fff, 1135px 1106px #fff, 167px 1768px #fff,
    1886px 491px #fff, 411px 1460px #fff, 147px 443px #fff, 1019px 817px #fff,
    309px 1178px #fff, 334px 121px #fff, 1249px 1028px #fff, 1565px 539px #fff,
    819px 319px #fff, 1385px 1920px #fff, 1862px 362px #fff, 1808px 1012px #fff,
    178px 785px #fff, 86px 913px #fff, 1831px 1895px #fff, 457px 1205px #fff,
    1892px 194px #fff, 1055px 1542px #fff, 1499px 1068px #fff, 224px 112px #fff,
    134px 628px #fff, 1845px 1211px #fff, 1588px 297px #fff, 1422px 1322px #fff,
    513px 1059px #fff, 230px 1787px #fff, 351px 1707px #fff, 1506px 1242px #fff,
    1093px 775px #fff, 1201px 140px #fff, 1653px 1354px #fff, 653px 96px #fff,
    1946px 92px #fff, 156px 1796px #fff, 933px 1003px #fff, 1124px 131px #fff,
    86px 1407px #fff, 658px 1952px #fff, 354px 330px #fff, 908px 746px #fff,
    1904px 69px #fff, 1203px 973px #fff, 1582px 1996px #fff, 1565px 552px #fff,
    647px 1204px #fff, 866px 1883px #fff, 1635px 688px #fff, 1771px 312px #fff,
    256px 205px #fff, 1792px 56px #fff, 1542px 1820px #fff, 587px 230px #fff,
    471px 1434px #fff, 969px 1964px #fff, 1920px 1881px #fff, 897px 1739px #fff,
    170px 517px #fff, 1117px 1832px #fff, 1923px 518px #fff, 1935px 500px #fff,
    1834px 1520px #fff, 1426px 955px #fff, 1834px 111px #fff, 49px 1737px #fff,
    155px 1571px #fff, 1734px 1931px #fff, 553px 387px #fff, 1190px 1560px #fff,
    104px 24px #fff, 751px 608px #fff, 924px 131px #fff, 176px 1970px #fff,
    28px 551px #fff, 1418px 462px #fff, 1263px 1524px #fff, 1274px 31px #fff,
    863px 810px #fff, 127px 582px #fff, 1658px 1032px #fff, 1352px 544px #fff,
    1741px 1121px #fff, 1477px 240px #fff, 24px 1226px #fff, 737px 693px #fff,
    1905px 1417px #fff, 1363px 1494px #fff, 600px 219px #fff, 621px 1233px #fff,
    974px 656px #fff, 831px 869px #fff, 391px 1882px #fff, 408px 1877px #fff,
    976px 703px #fff, 1605px 1743px #fff, 623px 404px #fff, 1194px 1690px #fff,
    421px 1604px #fff, 1266px 875px #fff, 1048px 1423px #fff, 1073px 915px #fff,
    804px 743px #fff, 1398px 278px #fff, 920px 36px #fff, 979px 1838px #fff,
    1973px 643px #fff, 1657px 898px #fff, 1375px 663px #fff, 712px 1980px #fff,
    495px 1774px #fff, 811px 90px #fff, 868px 508px #fff, 53px 521px #fff,
    455px 1007px #fff, 1137px 1796px #fff, 316px 1522px #fff, 702px 53px #fff,
    298px 1934px #fff, 1003px 1311px #fff, 1827px 1007px #fff, 782px 47px #fff,
    1552px 414px #fff, 503px 620px #fff, 689px 999px #fff, 402px 317px #fff,
    1982px 1678px #fff, 912px 1055px #fff, 575px 619px #fff, 397px 923px #fff,
    1254px 864px #fff, 238px 490px #fff, 873px 1668px #fff, 262px 1668px #fff,
    133px 1436px #fff, 1377px 508px #fff, 1005px 327px #fff, 507px 1614px #fff,
    1722px 1804px #fff, 193px 1027px #fff, 1667px 1386px #fff, 141px 1551px #fff,
    934px 771px #fff, 1416px 1552px #fff, 399px 1010px #fff, 46px 665px #fff,
    1209px 1830px #fff, 1240px 288px #fff, 36px 1873px #fff, 1044px 213px #fff,
    1422px 1926px #fff, 1278px 1434px #fff, 406px 1292px #fff, 111px 519px #fff,
    589px 39px #fff, 179px 150px #fff, 612px 660px #fff, 1729px 1163px #fff,
    760px 1218px #fff, 1481px 65px #fff, 1844px 1874px #fff, 960px 598px #fff,
    1453px 895px #fff, 1570px 1266px #fff, 892px 592px #fff, 266px 1592px #fff,
    572px 540px #fff, 180px 717px #fff, 1407px 1128px #fff, 1933px 1073px #fff,
    977px 1225px #fff, 1464px 109px #fff, 1860px 1275px #fff, 1553px 1170px #fff,
    1578px 1200px #fff, 54px 1264px #fff, 739px 811px #fff, 1909px 1999px #fff,
    136px 1524px #fff, 999px 137px #fff, 1263px 1844px #fff, 1939px 1506px #fff,
    727px 903px #fff, 3px 801px #fff, 421px 858px #fff, 1816px 1418px #fff,
    1501px 409px #fff, 1748px 799px #fff, 943px 1281px #fff, 832px 573px #fff,
    869px 391px #fff, 1324px 1272px #fff, 269px 20px #fff, 1554px 1586px #fff,
    998px 479px #fff, 1983px 385px #fff, 1857px 1475px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1487px 551px #fff, 1597px 300px #fff, 1142px 517px #fff,
    1460px 1724px #fff, 1680px 1254px #fff, 1560px 975px #fff,
    1779px 1572px #fff, 1498px 700px #fff, 136px 1852px #fff, 2px 1713px #fff,
    1718px 450px #fff, 768px 1993px #fff, 877px 164px #fff, 1098px 1375px #fff,
    827px 724px #fff, 1941px 76px #fff, 620px 1600px #fff, 1907px 1255px #fff,
    1141px 956px #fff, 1945px 1581px #fff, 1610px 1350px #fff,
    1620px 1299px #fff, 1847px 1129px #fff, 1848px 351px #fff, 31px 58px #fff,
    891px 1761px #fff, 1108px 1204px #fff, 1770px 1918px #fff, 21px 935px #fff,
    495px 900px #fff, 299px 1907px #fff, 1136px 454px #fff, 1888px 33px #fff,
    687px 490px #fff, 1080px 802px #fff, 1133px 990px #fff, 357px 588px #fff,
    1358px 1821px #fff, 1718px 1598px #fff, 552px 1086px #fff, 1120px 995px #fff,
    287px 907px #fff, 1757px 522px #fff, 1150px 1714px #fff, 1247px 1256px #fff,
    1544px 666px #fff, 913px 1348px #fff, 733px 1973px #fff, 1005px 1263px #fff,
    1180px 267px #fff, 1412px 334px #fff, 1580px 499px #fff, 1274px 1668px #fff,
    1251px 1684px #fff, 488px 1640px #fff, 1107px 403px #fff, 376px 311px #fff,
    202px 1335px #fff, 727px 281px #fff, 1376px 70px #fff, 1542px 1823px #fff,
    847px 76px #fff, 1687px 1273px #fff, 436px 1961px #fff, 751px 1684px #fff,
    1607px 1100px #fff, 1734px 1480px #fff, 968px 1021px #fff, 79px 75px #fff,
    1428px 926px #fff, 1043px 1519px #fff, 1773px 732px #fff, 1440px 760px #fff,
    285px 1311px #fff, 1382px 769px #fff, 1005px 1924px #fff, 883px 20px #fff,
    910px 1226px #fff, 1664px 1798px #fff, 1347px 1810px #fff,
    1527px 1940px #fff, 1999px 126px #fff, 246px 1374px #fff, 1285px 1798px #fff,
    912px 1828px #fff, 635px 790px #fff, 744px 1141px #fff, 1709px 1186px #fff,
    992px 948px #fff, 1900px 1672px #fff, 188px 1125px #fff, 1821px 15px #fff,
    1983px 916px #fff, 280px 305px #fff, 329px 887px #fff, 1366px 872px #fff,
    425px 1560px #fff, 561px 1339px #fff, 485px 201px #fff, 1884px 910px #fff,
    598px 1993px #fff, 1235px 1940px #fff, 634px 372px #fff, 1881px 1185px #fff,
    731px 246px #fff, 106px 753px #fff, 364px 916px #fff, 963px 1479px #fff,
    1193px 870px #fff, 1705px 797px #fff, 1403px 532px #fff, 1724px 708px #fff,
    1595px 1586px #fff, 668px 1447px #fff, 1996px 823px #fff, 1123px 1982px #fff,
    1497px 315px #fff, 403px 950px #fff, 323px 112px #fff, 838px 1354px #fff,
    1001px 286px #fff, 1768px 1621px #fff, 515px 69px #fff, 157px 1726px #fff,
    112px 1302px #fff, 1301px 1205px #fff, 1309px 1836px #fff, 160px 1332px #fff,
    507px 1137px #fff, 864px 1081px #fff, 728px 211px #fff, 1317px 390px #fff,
    816px 924px #fff, 1772px 598px #fff, 204px 1647px #fff, 1500px 605px #fff,
    1210px 584px #fff, 1253px 183px #fff, 700px 912px #fff, 465px 1505px #fff,
    1357px 1446px #fff, 1753px 1200px #fff, 1343px 1889px #fff, 565px 936px #fff,
    202px 1876px #fff, 1231px 315px #fff, 1090px 1718px #fff, 1498px 244px #fff,
    1819px 91px #fff, 501px 1515px #fff, 1344px 1110px #fff, 1177px 534px #fff,
    745px 994px #fff, 562px 1905px #fff, 1916px 245px #fff, 980px 1367px #fff,
    1079px 1236px #fff, 1563px 1041px #fff, 737px 1100px #fff, 1359px 42px #fff,
    1404px 467px #fff, 1284px 45px #fff, 539px 586px #fff, 1016px 802px #fff,
    1402px 414px #fff, 381px 1387px #fff, 1071px 714px #fff, 572px 1646px #fff,
    329px 1119px #fff, 303px 1710px #fff, 659px 706px #fff, 478px 1034px #fff,
    1987px 560px #fff, 762px 158px #fff, 1589px 1173px #fff, 78px 1235px #fff,
    1595px 396px #fff, 1675px 1035px #fff, 284px 706px #fff, 4px 636px #fff,
    956px 1655px #fff, 594px 1601px #fff, 1000px 1339px #fff, 1113px 352px #fff,
    1784px 1640px #fff, 156px 980px #fff, 1509px 936px #fff, 129px 912px #fff,
    749px 1791px #fff, 615px 127px #fff, 838px 855px #fff, 652px 1831px #fff,
    52px 473px #fff, 1678px 1003px #fff, 1210px 153px #fff, 1632px 324px #fff,
    1846px 1497px #fff, 489px 1801px #fff, 1813px 1748px #fff, 630px 771px #fff,
    1012px 915px #fff, 596px 514px #fff, 1719px 222px #fff, 91px 1633px #fff,
    1980px 1145px #fff, 1372px 911px #fff, 1037px 928px #fff, 1669px 33px #fff,
    330px 616px #fff, 1184px 74px #fff, 44px 354px #fff, 1088px 882px #fff,
    4px 642px #fff, 1418px 448px #fff, 1239px 1112px #fff, 604px 428px #fff,
    425px 1078px #fff, 223px 1859px #fff, 1743px 976px #fff, 1641px 1148px #fff,
    30px 767px #fff, 1640px 126px #fff, 200px 1631px #fff, 10px 228px #fff,
    1944px 1127px #fff, 1230px 1640px #fff, 350px 545px #fff, 1631px 1380px #fff,
    1527px 956px #fff, 987px 632px #fff, 1794px 689px #fff, 57px 2000px #fff,
    899px 1384px #fff, 1971px 1332px #fff, 1960px 557px #fff, 117px 227px #fff,
    1411px 992px #fff, 105px 165px #fff, 1458px 269px #fff, 118px 1068px #fff,
    530px 586px #fff, 1373px 848px #fff, 1569px 1118px #fff, 1009px 401px #fff,
    1829px 1312px #fff, 319px 978px #fff, 857px 1473px #fff, 1374px 1423px #fff,
    1655px 1900px #fff, 1659px 1777px #fff, 618px 1400px #fff,
    1021px 1609px #fff, 1435px 1881px #fff, 817px 361px #fff, 1613px 711px #fff,
    1251px 1063px #fff, 117px 884px #fff, 310px 1046px #fff, 517px 1045px #fff,
    1084px 847px #fff, 1230px 1388px #fff, 1545px 1102px #fff, 1261px 900px #fff,
    552px 522px #fff, 1715px 660px #fff, 41px 777px #fff, 1339px 799px #fff,
    223px 272px #fff, 1141px 1916px #fff, 296px 1583px #fff, 479px 1586px #fff,
    1708px 659px #fff, 574px 838px #fff, 793px 1247px #fff, 1778px 959px #fff,
    1988px 156px #fff, 1140px 1624px #fff, 567px 708px #fff, 1961px 765px #fff,
    738px 1026px #fff, 1921px 222px #fff, 359px 425px #fff, 1459px 696px #fff,
    1180px 880px #fff, 1983px 640px #fff, 246px 1377px #fff, 1458px 1111px #fff,
    503px 861px #fff, 406px 797px #fff, 1860px 1039px #fff, 736px 488px #fff,
    1732px 1701px #fff, 485px 187px #fff, 940px 62px #fff, 1483px 1980px #fff,
    548px 870px #fff, 627px 352px #fff, 576px 281px #fff, 119px 1762px #fff,
    1280px 1299px #fff, 815px 1639px #fff, 287px 1812px #fff, 1751px 1594px #fff,
    1068px 712px #fff, 1279px 1807px #fff, 53px 1523px #fff, 941px 1403px #fff,
    1674px 1813px #fff, 1012px 99px #fff, 1137px 716px #fff, 776px 1382px #fff,
    1650px 1496px #fff, 912px 1094px #fff, 1282px 754px #fff, 509px 1684px #fff,
    1432px 436px #fff, 853px 1433px #fff, 343px 1947px #fff, 1354px 1931px #fff,
    1551px 469px #fff, 262px 1788px #fff, 1224px 654px #fff, 1963px 472px #fff,
    1909px 1077px #fff, 884px 1435px #fff, 907px 51px #fff, 158px 442px #fff,
    1923px 1597px #fff, 1235px 191px #fff, 188px 1117px #fff, 913px 1949px #fff,
    578px 758px #fff, 26px 1046px #fff, 1321px 844px #fff, 501px 1992px #fff,
    1504px 764px #fff, 730px 1023px #fff, 961px 1974px #fff, 1274px 238px #fff,
    1347px 72px #fff, 404px 1308px #fff, 1006px 302px #fff, 683px 1074px #fff,
    840px 697px #fff, 937px 1975px #fff, 547px 1155px #fff, 143px 1367px #fff,
    26px 1965px #fff, 1151px 301px #fff, 1509px 708px #fff, 905px 1698px #fff,
    1979px 987px #fff, 1506px 226px #fff, 860px 961px #fff, 1405px 1112px #fff,
    1508px 1556px #fff, 217px 1409px #fff, 1608px 899px #fff, 1149px 1397px #fff,
    860px 1679px #fff, 1740px 1016px #fff, 418px 609px #fff, 1516px 187px #fff,
    1205px 1931px #fff, 194px 818px #fff, 1201px 124px #fff, 1634px 1940px #fff,
    401px 1911px #fff, 1589px 1046px #fff, 1994px 952px #fff, 1422px 1329px #fff,
    1482px 750px #fff, 191px 303px #fff, 1494px 1473px #fff, 309px 1070px #fff,
    1637px 1158px #fff, 705px 327px #fff, 1801px 1253px #fff, 1375px 202px #fff,
    1251px 258px #fff, 1605px 1297px #fff, 795px 1777px #fff, 794px 1422px #fff,
    1534px 1044px #fff, 1775px 705px #fff, 1067px 1765px #fff,
    1621px 1554px #fff, 1740px 965px #fff, 316px 1305px #fff, 264px 1075px #fff,
    1086px 389px #fff, 243px 1539px #fff, 72px 1422px #fff, 1805px 382px #fff,
    1698px 623px #fff, 316px 367px #fff, 1593px 186px #fff, 29px 1123px #fff,
    171px 1119px #fff, 996px 1483px #fff, 1667px 1134px #fff, 1311px 208px #fff,
    1806px 584px #fff, 1930px 1100px #fff, 1298px 1743px #fff,
    1418px 1714px #fff, 1478px 1699px #fff, 921px 768px #fff, 1080px 1104px #fff,
    1630px 572px #fff, 1527px 1052px #fff, 14px 478px #fff, 986px 22px #fff,
    288px 1321px #fff, 1267px 976px #fff, 1200px 1943px #fff, 1007px 1626px #fff,
    957px 316px #fff, 385px 1419px #fff, 1169px 506px #fff, 124px 1328px #fff,
    1684px 1049px #fff, 1535px 156px #fff, 1273px 1895px #fff, 910px 202px #fff,
    1529px 794px #fff, 619px 46px #fff, 1328px 1655px #fff, 843px 1558px #fff,
    1638px 914px #fff, 763px 406px #fff, 900px 602px #fff, 1017px 1711px #fff,
    1731px 1189px #fff, 903px 1709px #fff, 1772px 621px #fff, 1398px 1170px #fff,
    1637px 1706px #fff, 818px 279px #fff, 1917px 873px #fff, 1061px 194px #fff,
    207px 1983px #fff, 684px 15px #fff, 31px 149px #fff, 1573px 462px #fff,
    919px 269px #fff, 934px 1164px #fff, 654px 936px #fff, 691px 1506px #fff,
    1337px 833px #fff, 661px 863px #fff, 21px 1808px #fff, 1350px 318px #fff,
    1503px 333px #fff, 1635px 592px #fff, 222px 314px #fff, 176px 1908px #fff,
    1209px 1012px #fff, 1970px 748px #fff, 1422px 1848px #fff, 36px 787px #fff,
    449px 1143px #fff, 1512px 937px #fff, 707px 217px #fff, 1595px 1075px #fff,
    1147px 536px #fff, 370px 1831px #fff, 1604px 459px #fff, 1843px 1115px #fff,
    1069px 346px #fff, 300px 996px #fff, 617px 717px #fff, 1133px 1056px #fff,
    1309px 1143px #fff, 759px 1888px #fff, 1704px 1321px #fff, 582px 652px #fff,
    933px 325px #fff, 1237px 1686px #fff, 1918px 770px #fff, 572px 1034px #fff,
    1377px 1767px #fff, 1808px 42px #fff, 1221px 1176px #fff, 628px 1610px #fff,
    1993px 704px #fff, 431px 1781px #fff, 357px 1883px #fff, 1321px 1707px #fff,
    1979px 1098px #fff, 264px 688px #fff, 349px 1273px #fff, 1104px 881px #fff,
    1942px 440px #fff, 1128px 163px #fff, 376px 1535px #fff, 1377px 1783px #fff,
    1131px 534px #fff, 122px 1390px #fff, 1814px 1497px #fff, 1119px 1849px #fff,
    1315px 375px #fff, 1757px 1177px #fff, 1135px 1106px #fff, 167px 1768px #fff,
    1886px 491px #fff, 411px 1460px #fff, 147px 443px #fff, 1019px 817px #fff,
    309px 1178px #fff, 334px 121px #fff, 1249px 1028px #fff, 1565px 539px #fff,
    819px 319px #fff, 1385px 1920px #fff, 1862px 362px #fff, 1808px 1012px #fff,
    178px 785px #fff, 86px 913px #fff, 1831px 1895px #fff, 457px 1205px #fff,
    1892px 194px #fff, 1055px 1542px #fff, 1499px 1068px #fff, 224px 112px #fff,
    134px 628px #fff, 1845px 1211px #fff, 1588px 297px #fff, 1422px 1322px #fff,
    513px 1059px #fff, 230px 1787px #fff, 351px 1707px #fff, 1506px 1242px #fff,
    1093px 775px #fff, 1201px 140px #fff, 1653px 1354px #fff, 653px 96px #fff,
    1946px 92px #fff, 156px 1796px #fff, 933px 1003px #fff, 1124px 131px #fff,
    86px 1407px #fff, 658px 1952px #fff, 354px 330px #fff, 908px 746px #fff,
    1904px 69px #fff, 1203px 973px #fff, 1582px 1996px #fff, 1565px 552px #fff,
    647px 1204px #fff, 866px 1883px #fff, 1635px 688px #fff, 1771px 312px #fff,
    256px 205px #fff, 1792px 56px #fff, 1542px 1820px #fff, 587px 230px #fff,
    471px 1434px #fff, 969px 1964px #fff, 1920px 1881px #fff, 897px 1739px #fff,
    170px 517px #fff, 1117px 1832px #fff, 1923px 518px #fff, 1935px 500px #fff,
    1834px 1520px #fff, 1426px 955px #fff, 1834px 111px #fff, 49px 1737px #fff,
    155px 1571px #fff, 1734px 1931px #fff, 553px 387px #fff, 1190px 1560px #fff,
    104px 24px #fff, 751px 608px #fff, 924px 131px #fff, 176px 1970px #fff,
    28px 551px #fff, 1418px 462px #fff, 1263px 1524px #fff, 1274px 31px #fff,
    863px 810px #fff, 127px 582px #fff, 1658px 1032px #fff, 1352px 544px #fff,
    1741px 1121px #fff, 1477px 240px #fff, 24px 1226px #fff, 737px 693px #fff,
    1905px 1417px #fff, 1363px 1494px #fff, 600px 219px #fff, 621px 1233px #fff,
    974px 656px #fff, 831px 869px #fff, 391px 1882px #fff, 408px 1877px #fff,
    976px 703px #fff, 1605px 1743px #fff, 623px 404px #fff, 1194px 1690px #fff,
    421px 1604px #fff, 1266px 875px #fff, 1048px 1423px #fff, 1073px 915px #fff,
    804px 743px #fff, 1398px 278px #fff, 920px 36px #fff, 979px 1838px #fff,
    1973px 643px #fff, 1657px 898px #fff, 1375px 663px #fff, 712px 1980px #fff,
    495px 1774px #fff, 811px 90px #fff, 868px 508px #fff, 53px 521px #fff,
    455px 1007px #fff, 1137px 1796px #fff, 316px 1522px #fff, 702px 53px #fff,
    298px 1934px #fff, 1003px 1311px #fff, 1827px 1007px #fff, 782px 47px #fff,
    1552px 414px #fff, 503px 620px #fff, 689px 999px #fff, 402px 317px #fff,
    1982px 1678px #fff, 912px 1055px #fff, 575px 619px #fff, 397px 923px #fff,
    1254px 864px #fff, 238px 490px #fff, 873px 1668px #fff, 262px 1668px #fff,
    133px 1436px #fff, 1377px 508px #fff, 1005px 327px #fff, 507px 1614px #fff,
    1722px 1804px #fff, 193px 1027px #fff, 1667px 1386px #fff, 141px 1551px #fff,
    934px 771px #fff, 1416px 1552px #fff, 399px 1010px #fff, 46px 665px #fff,
    1209px 1830px #fff, 1240px 288px #fff, 36px 1873px #fff, 1044px 213px #fff,
    1422px 1926px #fff, 1278px 1434px #fff, 406px 1292px #fff, 111px 519px #fff,
    589px 39px #fff, 179px 150px #fff, 612px 660px #fff, 1729px 1163px #fff,
    760px 1218px #fff, 1481px 65px #fff, 1844px 1874px #fff, 960px 598px #fff,
    1453px 895px #fff, 1570px 1266px #fff, 892px 592px #fff, 266px 1592px #fff,
    572px 540px #fff, 180px 717px #fff, 1407px 1128px #fff, 1933px 1073px #fff,
    977px 1225px #fff, 1464px 109px #fff, 1860px 1275px #fff, 1553px 1170px #fff,
    1578px 1200px #fff, 54px 1264px #fff, 739px 811px #fff, 1909px 1999px #fff,
    136px 1524px #fff, 999px 137px #fff, 1263px 1844px #fff, 1939px 1506px #fff,
    727px 903px #fff, 3px 801px #fff, 421px 858px #fff, 1816px 1418px #fff,
    1501px 409px #fff, 1748px 799px #fff, 943px 1281px #fff, 832px 573px #fff,
    869px 391px #fff, 1324px 1272px #fff, 269px 20px #fff, 1554px 1586px #fff,
    998px 479px #fff, 1983px 385px #fff, 1857px 1475px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1507px 575px #fff, 1644px 220px #fff, 1948px 1787px #fff,
    658px 1374px #fff, 1501px 934px #fff, 1422px 1382px #fff, 387px 149px #fff,
    981px 510px #fff, 842px 1484px #fff, 1215px 1857px #fff, 1846px 1945px #fff,
    1506px 337px #fff, 583px 12px #fff, 961px 124px #fff, 1224px 935px #fff,
    1880px 291px #fff, 580px 1961px #fff, 1386px 1894px #fff, 1945px 1499px #fff,
    1310px 877px #fff, 1803px 236px #fff, 344px 1412px #fff, 871px 178px #fff,
    812px 1443px #fff, 230px 311px #fff, 410px 1871px #fff, 1984px 1927px #fff,
    297px 1737px #fff, 109px 461px #fff, 224px 942px #fff, 271px 615px #fff,
    1653px 65px #fff, 724px 1277px #fff, 916px 283px #fff, 1898px 1475px #fff,
    58px 1127px #fff, 1971px 1248px #fff, 145px 1708px #fff, 591px 321px #fff,
    694px 728px #fff, 271px 632px #fff, 1220px 1526px #fff, 1332px 1902px #fff,
    1193px 198px #fff, 1561px 588px #fff, 7px 589px #fff, 782px 354px #fff,
    509px 1259px #fff, 237px 1254px #fff, 492px 1699px #fff, 666px 654px #fff,
    623px 1820px #fff, 1235px 222px #fff, 1151px 1515px #fff, 507px 1691px #fff,
    1303px 789px #fff, 1691px 1940px #fff, 1391px 289px #fff, 1370px 1498px #fff,
    1135px 9px #fff, 1414px 286px #fff, 909px 1250px #fff, 731px 756px #fff,
    1649px 1243px #fff, 266px 670px #fff, 1903px 229px #fff, 1537px 1013px #fff,
    319px 1714px #fff, 1243px 22px #fff, 1948px 1014px #fff, 1294px 1195px #fff,
    1823px 1284px #fff, 593px 132px #fff, 1664px 1475px #fff, 295px 48px #fff,
    1507px 182px #fff, 971px 547px #fff, 1433px 1433px #fff, 1994px 107px #fff,
    685px 1206px #fff, 988px 309px #fff, 1352px 31px #fff, 1375px 1079px #fff,
    1124px 1578px #fff, 27px 1591px #fff, 1292px 1394px #fff, 1178px 1315px #fff,
    1408px 857px #fff, 1139px 664px #fff, 1435px 380px #fff, 1411px 124px #fff,
    1201px 73px #fff, 239px 1100px #fff, 1318px 199px #fff, 1277px 1986px #fff,
    1918px 457px #fff, 455px 371px #fff, 1650px 777px #fff, 965px 1171px #fff,
    1560px 794px #fff, 1509px 387px #fff, 405px 511px #fff, 915px 1301px #fff,
    1507px 1166px #fff, 660px 236px #fff, 586px 951px #fff, 917px 1392px #fff,
    24px 1826px #fff, 1798px 1025px #fff, 632px 275px #fff, 1189px 609px #fff,
    1573px 1566px #fff, 307px 899px #fff, 379px 482px #fff, 1304px 1642px #fff,
    301px 1962px #fff, 922px 265px #fff, 261px 1478px #fff, 94px 1422px #fff,
    1998px 519px #fff, 1309px 735px #fff, 1512px 64px #fff, 1293px 537px #fff,
    735px 1215px #fff, 767px 1079px #fff, 238px 1420px #fff, 195px 1288px #fff,
    398px 1384px #fff, 1299px 19px #fff, 120px 512px #fff, 1761px 56px #fff,
    1440px 1482px #fff, 1890px 1364px #fff, 1042px 894px #fff, 340px 1732px #fff,
    1071px 1502px #fff, 513px 1712px #fff, 1909px 808px #fff, 1322px 626px #fff,
    1795px 1407px #fff, 1760px 1130px #fff, 993px 1567px #fff, 361px 453px #fff,
    222px 1809px #fff, 929px 26px #fff, 299px 1162px #fff, 1997px 1642px #fff,
    688px 51px #fff, 905px 707px #fff, 261px 363px #fff, 172px 1756px #fff,
    794px 114px #fff, 172px 117px #fff, 1791px 1916px #fff, 406px 1850px #fff,
    396px 1113px #fff, 1795px 350px #fff, 268px 1347px #fff, 458px 1439px #fff,
    776px 1869px #fff, 664px 1864px #fff, 84px 306px #fff, 1035px 516px #fff,
    1037px 1124px #fff, 1024px 849px #fff, 9px 184px #fff, 1965px 1947px #fff,
    1671px 182px #fff, 1270px 401px #fff, 418px 74px #fff, 946px 185px #fff,
    280px 1919px #fff, 499px 242px #fff, 1612px 1928px #fff, 1378px 1221px #fff,
    612px 56px #fff, 600px 1845px #fff, 1494px 895px #fff, 1953px 837px #fff,
    586px 1572px #fff, 1271px 1289px #fff, 484px 91px #fff, 235px 642px #fff,
    1580px 1533px #fff, 1118px 331px #fff, 1303px 345px #fff, 184px 1636px #fff,
    798px 1295px #fff, 290px 655px #fff, 1299px 1050px #fff, 1598px 1070px #fff,
    92px 1540px #fff, 562px 561px #fff, 1081px 401px #fff, 682px 479px #fff,
    1535px 248px #fff, 1481px 1724px #fff, 1046px 1030px #fff, 32px 886px #fff,
    1234px 1008px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1507px 575px #fff, 1644px 220px #fff, 1948px 1787px #fff,
    658px 1374px #fff, 1501px 934px #fff, 1422px 1382px #fff, 387px 149px #fff,
    981px 510px #fff, 842px 1484px #fff, 1215px 1857px #fff, 1846px 1945px #fff,
    1506px 337px #fff, 583px 12px #fff, 961px 124px #fff, 1224px 935px #fff,
    1880px 291px #fff, 580px 1961px #fff, 1386px 1894px #fff, 1945px 1499px #fff,
    1310px 877px #fff, 1803px 236px #fff, 344px 1412px #fff, 871px 178px #fff,
    812px 1443px #fff, 230px 311px #fff, 410px 1871px #fff, 1984px 1927px #fff,
    297px 1737px #fff, 109px 461px #fff, 224px 942px #fff, 271px 615px #fff,
    1653px 65px #fff, 724px 1277px #fff, 916px 283px #fff, 1898px 1475px #fff,
    58px 1127px #fff, 1971px 1248px #fff, 145px 1708px #fff, 591px 321px #fff,
    694px 728px #fff, 271px 632px #fff, 1220px 1526px #fff, 1332px 1902px #fff,
    1193px 198px #fff, 1561px 588px #fff, 7px 589px #fff, 782px 354px #fff,
    509px 1259px #fff, 237px 1254px #fff, 492px 1699px #fff, 666px 654px #fff,
    623px 1820px #fff, 1235px 222px #fff, 1151px 1515px #fff, 507px 1691px #fff,
    1303px 789px #fff, 1691px 1940px #fff, 1391px 289px #fff, 1370px 1498px #fff,
    1135px 9px #fff, 1414px 286px #fff, 909px 1250px #fff, 731px 756px #fff,
    1649px 1243px #fff, 266px 670px #fff, 1903px 229px #fff, 1537px 1013px #fff,
    319px 1714px #fff, 1243px 22px #fff, 1948px 1014px #fff, 1294px 1195px #fff,
    1823px 1284px #fff, 593px 132px #fff, 1664px 1475px #fff, 295px 48px #fff,
    1507px 182px #fff, 971px 547px #fff, 1433px 1433px #fff, 1994px 107px #fff,
    685px 1206px #fff, 988px 309px #fff, 1352px 31px #fff, 1375px 1079px #fff,
    1124px 1578px #fff, 27px 1591px #fff, 1292px 1394px #fff, 1178px 1315px #fff,
    1408px 857px #fff, 1139px 664px #fff, 1435px 380px #fff, 1411px 124px #fff,
    1201px 73px #fff, 239px 1100px #fff, 1318px 199px #fff, 1277px 1986px #fff,
    1918px 457px #fff, 455px 371px #fff, 1650px 777px #fff, 965px 1171px #fff,
    1560px 794px #fff, 1509px 387px #fff, 405px 511px #fff, 915px 1301px #fff,
    1507px 1166px #fff, 660px 236px #fff, 586px 951px #fff, 917px 1392px #fff,
    24px 1826px #fff, 1798px 1025px #fff, 632px 275px #fff, 1189px 609px #fff,
    1573px 1566px #fff, 307px 899px #fff, 379px 482px #fff, 1304px 1642px #fff,
    301px 1962px #fff, 922px 265px #fff, 261px 1478px #fff, 94px 1422px #fff,
    1998px 519px #fff, 1309px 735px #fff, 1512px 64px #fff, 1293px 537px #fff,
    735px 1215px #fff, 767px 1079px #fff, 238px 1420px #fff, 195px 1288px #fff,
    398px 1384px #fff, 1299px 19px #fff, 120px 512px #fff, 1761px 56px #fff,
    1440px 1482px #fff, 1890px 1364px #fff, 1042px 894px #fff, 340px 1732px #fff,
    1071px 1502px #fff, 513px 1712px #fff, 1909px 808px #fff, 1322px 626px #fff,
    1795px 1407px #fff, 1760px 1130px #fff, 993px 1567px #fff, 361px 453px #fff,
    222px 1809px #fff, 929px 26px #fff, 299px 1162px #fff, 1997px 1642px #fff,
    688px 51px #fff, 905px 707px #fff, 261px 363px #fff, 172px 1756px #fff,
    794px 114px #fff, 172px 117px #fff, 1791px 1916px #fff, 406px 1850px #fff,
    396px 1113px #fff, 1795px 350px #fff, 268px 1347px #fff, 458px 1439px #fff,
    776px 1869px #fff, 664px 1864px #fff, 84px 306px #fff, 1035px 516px #fff,
    1037px 1124px #fff, 1024px 849px #fff, 9px 184px #fff, 1965px 1947px #fff,
    1671px 182px #fff, 1270px 401px #fff, 418px 74px #fff, 946px 185px #fff,
    280px 1919px #fff, 499px 242px #fff, 1612px 1928px #fff, 1378px 1221px #fff,
    612px 56px #fff, 600px 1845px #fff, 1494px 895px #fff, 1953px 837px #fff,
    586px 1572px #fff, 1271px 1289px #fff, 484px 91px #fff, 235px 642px #fff,
    1580px 1533px #fff, 1118px 331px #fff, 1303px 345px #fff, 184px 1636px #fff,
    798px 1295px #fff, 290px 655px #fff, 1299px 1050px #fff, 1598px 1070px #fff,
    92px 1540px #fff, 562px 561px #fff, 1081px 401px #fff, 682px 479px #fff,
    1535px 248px #fff, 1481px 1724px #fff, 1046px 1030px #fff, 32px 886px #fff,
    1234px 1008px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 765px 332px #fff, 1973px 1141px #fff, 1699px 1272px #fff,
    752px 1546px #fff, 1322px 1898px #fff, 1981px 1705px #fff, 592px 375px #fff,
    1324px 328px #fff, 1024px 1827px #fff, 1582px 1750px #fff,
    1816px 1878px #fff, 294px 300px #fff, 1178px 505px #fff, 499px 1491px #fff,
    1557px 187px #fff, 211px 922px #fff, 840px 1806px #fff, 853px 1880px #fff,
    180px 1935px #fff, 165px 748px #fff, 875px 1996px #fff, 434px 1068px #fff,
    1050px 25px #fff, 763px 542px #fff, 103px 1666px #fff, 288px 999px #fff,
    1360px 413px #fff, 976px 1171px #fff, 681px 1396px #fff, 1325px 896px #fff,
    1665px 239px #fff, 1646px 1231px #fff, 930px 1872px #fff, 1708px 1601px #fff,
    1824px 659px #fff, 1842px 1872px #fff, 1719px 1016px #fff, 113px 285px #fff,
    1959px 1499px #fff, 354px 1655px #fff, 1033px 1648px #fff, 1061px 816px #fff,
    1015px 1070px #fff, 636px 684px #fff, 942px 586px #fff, 1079px 948px #fff,
    1673px 1871px #fff, 1047px 211px #fff, 1733px 301px #fff, 1094px 1037px #fff,
    1696px 93px #fff, 1553px 895px #fff, 1039px 1929px #fff, 5px 647px #fff,
    1014px 342px #fff, 1203px 660px #fff, 1387px 646px #fff, 103px 1026px #fff,
    714px 1596px #fff, 1548px 42px #fff, 627px 340px #fff, 1379px 1580px #fff,
    1629px 1767px #fff, 121px 795px #fff, 1277px 634px #fff, 1024px 470px #fff,
    578px 1606px #fff, 573px 494px #fff, 358px 701px #fff, 1653px 1507px #fff,
    1812px 343px #fff, 708px 1714px #fff, 1659px 497px #fff, 694px 872px #fff,
    1540px 8px #fff, 1493px 37px #fff, 385px 85px #fff, 460px 1680px #fff,
    1329px 308px #fff, 1697px 217px #fff, 639px 1545px #fff, 1561px 1831px #fff,
    459px 60px #fff, 1593px 616px #fff, 1583px 1929px #fff, 1062px 1308px #fff,
    1100px 1468px #fff, 762px 981px #fff, 1592px 994px #fff, 505px 601px #fff,
    1712px 170px #fff, 68px 2000px #fff, 1305px 137px #fff, 671px 1565px #fff,
    310px 1585px #fff, 469px 968px #fff, 154px 1251px #fff, 619px 369px #fff,
    1872px 704px #fff, 161px 1122px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 765px 332px #fff, 1973px 1141px #fff, 1699px 1272px #fff,
    752px 1546px #fff, 1322px 1898px #fff, 1981px 1705px #fff, 592px 375px #fff,
    1324px 328px #fff, 1024px 1827px #fff, 1582px 1750px #fff,
    1816px 1878px #fff, 294px 300px #fff, 1178px 505px #fff, 499px 1491px #fff,
    1557px 187px #fff, 211px 922px #fff, 840px 1806px #fff, 853px 1880px #fff,
    180px 1935px #fff, 165px 748px #fff, 875px 1996px #fff, 434px 1068px #fff,
    1050px 25px #fff, 763px 542px #fff, 103px 1666px #fff, 288px 999px #fff,
    1360px 413px #fff, 976px 1171px #fff, 681px 1396px #fff, 1325px 896px #fff,
    1665px 239px #fff, 1646px 1231px #fff, 930px 1872px #fff, 1708px 1601px #fff,
    1824px 659px #fff, 1842px 1872px #fff, 1719px 1016px #fff, 113px 285px #fff,
    1959px 1499px #fff, 354px 1655px #fff, 1033px 1648px #fff, 1061px 816px #fff,
    1015px 1070px #fff, 636px 684px #fff, 942px 586px #fff, 1079px 948px #fff,
    1673px 1871px #fff, 1047px 211px #fff, 1733px 301px #fff, 1094px 1037px #fff,
    1696px 93px #fff, 1553px 895px #fff, 1039px 1929px #fff, 5px 647px #fff,
    1014px 342px #fff, 1203px 660px #fff, 1387px 646px #fff, 103px 1026px #fff,
    714px 1596px #fff, 1548px 42px #fff, 627px 340px #fff, 1379px 1580px #fff,
    1629px 1767px #fff, 121px 795px #fff, 1277px 634px #fff, 1024px 470px #fff,
    578px 1606px #fff, 573px 494px #fff, 358px 701px #fff, 1653px 1507px #fff,
    1812px 343px #fff, 708px 1714px #fff, 1659px 497px #fff, 694px 872px #fff,
    1540px 8px #fff, 1493px 37px #fff, 385px 85px #fff, 460px 1680px #fff,
    1329px 308px #fff, 1697px 217px #fff, 639px 1545px #fff, 1561px 1831px #fff,
    459px 60px #fff, 1593px 616px #fff, 1583px 1929px #fff, 1062px 1308px #fff,
    1100px 1468px #fff, 762px 981px #fff, 1592px 994px #fff, 505px 601px #fff,
    1712px 170px #fff, 68px 2000px #fff, 1305px 137px #fff, 671px 1565px #fff,
    310px 1585px #fff, 469px 968px #fff, 154px 1251px #fff, 619px 369px #fff,
    1872px 704px #fff, 161px 1122px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
